In [1]:
print("Gemaakt op 23/04/2025 door martijn")

Gemaakt op 23/04/2025 door martijn

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
lifeExpectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')
lifeExpectancy

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04
...,...,...,...,...,...
2192,Zimbabwe,2010,Life expectancy at birth (years),Male,49.58
2193,Zimbabwe,2010,Life expectancy at birth (years),Female,53.21
2194,Zimbabwe,2000,Life expectancy at birth (years),Both sexes,46.57
2195,Zimbabwe,2000,Life expectancy at birth (years),Male,45.15
2196,Zimbabwe,2000,Life expectancy at birth (years),Female,48.12

In [6]:
lifeExpectancy.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04

In [16]:
myFilter = (lifeExpectancy['Period'] == 2019) & (lifeExpectancy['Dim1'] == 'Both sexes')
lifeExpectancy[myFilter].head()

Empty DataFrame
Columns: [Location, Period, Indicator, Dim1, First Tooltip]
Index: []